In [1]:
import pandas as pd
import re
import string

## Get the word count table into a csv file
## AND store data table locally

In [281]:
inf_word_count = char_names_word_count_no_stop(inf_war_data)
inf_word_count.to_csv("infinity_war_word_count.csv", header = True)


end_word_count = char_names_word_count_no_stop(end_game_data)
end_word_count.to_csv("end_game_word_count.csv", header = True)

# Top 5 most frequent words for Tony Stark
### Avengers: Infinity War

In [297]:
inf_word_count.loc[inf_word_count['character'] == "TONY STARK"].sort_values(by = ['word_count']
                                                                        , ascending = False).head(5)

       character  word  word_count
2647  TONY STARK   i'm          17
2864  TONY STARK  yeah          11
2657  TONY STARK  know           9
2609  TONY STARK   get           9
2633  TONY STARK  he's           9

### Avengers: End Game

In [292]:
end_word_count.loc[end_word_count['character'] == "TONY STARK"].sort_values(by = ['word_count']
                                                                        , ascending = False).head(5)

       character    word  word_count
3409  TONY STARK   right          19
3175  TONY STARK     got          18
3251  TONY STARK    know          17
3583  TONY STARK    yeah          16
3502  TONY STARK  that's          15

# Top 5 most frequent words for Steve Rogers
### Avengers: Infinity War

In [293]:
inf_word_count.loc[inf_word_count['character'] == "STEVE ROGERS"].sort_values(by = ['word_count']
                                                                        , ascending = False).head(5)

         character    word  word_count
1884  STEVE ROGERS      go           4
1883  STEVE ROGERS     get           3
1893  STEVE ROGERS     i'm           3
1930  STEVE ROGERS  vision           2
1880  STEVE ROGERS   fight           2

### Avengers: End Game

In [294]:
end_word_count.loc[end_word_count['character'] == "STEVE ROGERS"].sort_values(by = ['word_count']
                                                                        , ascending = False).head(5)

         character    word  word_count
2276  STEVE ROGERS    know          15
2238  STEVE ROGERS     get          12
2396  STEVE ROGERS    tony          11
2433  STEVE ROGERS    yeah           8
2371  STEVE ROGERS  stones           8

# Top 5 most frequent words for Thanos
### Avengers: Infinity War

In [295]:
inf_word_count.loc[inf_word_count['character'] == "THANOS"].sort_values(by = ['word_count']
                                                                        , ascending = False).head(5)

     character      word  word_count
2105    THANOS       one           8
2163    THANOS     stone           5
2073    THANOS      know           4
2008    THANOS  daughter           4
2202    THANOS    what's           4

### Avengers: End Game

In [296]:
end_word_count.loc[end_word_count['character'] == "THANOS"].sort_values(by = ['word_count']
                                                                        , ascending = False).head(5)

     character        word  word_count
2545    THANOS      stones           7
2492    THANOS         i'm           5
2470    THANOS        done           4
2500    THANOS        know           4
2496    THANOS  inevitable           3